body {
  margin:0;
  background-color:black;
}
h2{
  font-family:"Courier New";
  color:white;
  text-align:center;
}
#infinityContainer {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position:absolute;
}
.infinityAnimation {
  width: 10px;
  height: 10px;
  position: absolute;
}
