body {
  margin:0;
  background-color:black;
}
h1{
  font-family:"Courier New";
  color:white;
  text-align:center;
}
#skyContainer {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position:absolute;
}
.starAnimation {
  width:2px;
  height: 2px;
 border-radius:1px;
  position: absolute;
  background-color: white;
}
